body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  .logo {
    margin-right: 1rem;
    height: 2rem;
  }
  img.logo{
    width: 72px;
    height: auto;
  }
  .hamburger-menu {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .notification {
    margin-right: 1rem;
  }
  .side-nav {
    position: fixed;
    top: 4.5rem;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }
  
  .side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .side-nav li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: normal;
  }
  
  .side-nav i {
    margin-right: 0.5rem;
  }
  
  .side-nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .side-nav.open {
    transform: translateX(0);
  }
  
  main {
    padding: 2rem;
    transition: all 0.3s ease-out;
  }
  
  main.open {
    transform: translateX(250px);
  }
  aside h2{
    font-size: 16px;
    font-weight: normal;
    background: #404040;
    padding: 5px;
  }
  h1{
    font-size: 30px;
    padding: 25px 0px;
  }
  table.t{
    background: #ededed;
    box-shadow: 2px 3px 10px #d9d9d9;
    text-align: center;
  }
  table.t th {
    background-color: #333;
    color: white;
    padding: 10px 25px;
}
  table.t td{
    background-color: white;
    padding: 5px 20px;
  }
  .main_col{
    display: flex;
  }
  .col_1{
    width: 50%;
  }
  .col_2{
    width: 30%;
  }
  .inner_col_1{
    background-color: white;
    padding: 30px;
    margin: 0 30px;
    box-shadow: 4px 4px 3px #c3c3c3;
  }
  .inner_col_1 table{
    margin: 20px 0;
  }
  .inner_col_1 td{
    padding: 0 20px;
  }
  .inner_col_2{
    background-color: white;
    padding: 50px;
    margin: 0 30px;
    box-shadow: 4px 4px 3px #c3c3c3;
  }
  .inner_col_2 button{
    background-color: white;
    border: none;
    padding: 3px 0;
  }
  .status{
    background-color: rgb(126, 124, 0);
    color: white;
    padding: 5px;
  }
  .tag td{
    background-color: rgb(247 140 0);
    padding: 3px 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 4px 4px 3px #c3c3c3;
    display: inline-block;
    margin: 3px;
  }
  .tag input{
    width: 100px;
    border: none;
  }
  td.td_reset{
    background-color:none;
    padding: 0;
    margin: 0;
    box-shadow: none
  }
  .tag-delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 2px 5px;
    background-color: #ff3b3b;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}
.tag-name {
    position: relative;
    cursor: pointer;
}
.tag-name:hover .tag-delete {
    display: block;
}